@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
